img.skull {display: block; margin-left: auto; margin-right: auto;}

img.main {display: block; margin-left: 45.5%; margin-right: auto;}

img.leg {display: block; margin-left: auto; margin-right: auto;}

img.left {display: block; margin-left: 41.5%; margin-right: auto;margin-top: -44.2%;}

img.right {display: block; margin-left: auto; margin-right: 42.5% ;margin-top: -44.2%;}

.jumbotron h1 {
  font-family: 'Bungee Shade', cursive;
  text-align: center;
  font-size:35px;
}
.jumbotron h3 {
  margin-top: 2.5%;
  text-align: center;
  font-family: 'Lobster', cursive;
  font-size:25px;
}

.jumbotron h4 {
  text-align: center;
  margin-top: 2%;
  font-size:20px;
}

body h6 {
  margin-bottom: 2%;
  font-size: large;
  text-align: center;


}
