*{
margin:0px;
padding:0px;
}
body {
  font: 14px/22px Arial, Helvetica, sans-serif;
  color: #333;
  background: url(../Hmm/Image/background-images-for-websites-016.jpg);
  margin: 50px auto;
  overflow-x: hidden;
}

#banner{
	margin: -3% 0 0 2%;
	
}

#main{
width:90%;
margin:auto;
background:#f2f2f2;

border:3px solid #FFF;
border-radius:8px;
}

.diary{
padding:10px;
border-bottom:1px solid #999;
height:120px;
}
.diary img{
border:1px solid #999 ;
padding:2px;
float:left;
margin-right:5px;
}
