*{
margin:0px;
padding:0px;
}





.menu {
	background:#000;
	line-height:40px;
	height:40px;
	margin:auto;
	font-size:30px;
	
}	

.menu ul{
	list-style-type:none;
	padding:0px;
}

.menu ul li{
	float:left;
	width:260px;
	text-align:center;
	line-height:40px;
}

.menu ul li a{
	text-decoration:none;
	color:#FFF;
	
}
.menu ul li a:hover{
	color:#F09;
	
}



.thongbao {
border:1px solid #999;
text-align:center;
height: 500px;
line-height:200px;
background-image: url(images/Untitled1.png);
}

#footer{
height:50px;
background:#666;
line-height:50px;

}
